h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 60px;
	color: rgb(255, 255, 255);
	margin: 0;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: rgb(255, 255, 255);
	margin: 0;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 23px;
	color: rgb(255, 255, 255);
	margin: 0;
}

p {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	color: rgb(255, 255, 255);
	margin: 0;
}

body {
	height: 100vh;
	margin: 0;
	background: radial-gradient(circle at center, #0b1961 0%, #08091f 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

body::after {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	border: 1px solid #a6e0ff;
	background: white;
	box-shadow: 5vw 10vh white, 15vw 20vh white, 25vw 5vh white, 35vw 15vh white, 45vw 25vh white, 55vw 8vh white,
		65vw 18vh white, 75vw 12vh white, 85vw 22vh white, 95vw 6vh white, 10vw 40vh white, 20vw 60vh white, 30vw 50vh white,
		40vw 70vh white, 70vw 55vh white, 80vw 75vh white, 90vw 48vh white, 15vw 85vh white, 35vw 90vh white,
		55vw 80vh white, 75vw 95vh white, 95vw 88vh white;
}
